=@user.firstname
/=link_to 'Edit', edit_animal_path(@animal)
/ =link_to 'Delete', @user, :method => :delete, :data => { :confirm => 'Are you sure? ' }
/ = @user
- if @user.present? && @user.adoptions.any?
  %article
  - @user.adoptions.each do |animal|
    %header
      %h1= link_to animal.name, animal
      %h3= animal.gender
      %p= animal.about_me
- else
  %p There are no animals to display.