%h2 About Us

%p Animal Rescue is an Australia-wide not-for-profit organisation inspiring a whole nation to discover the joy and unconditional love a rescue pet brings.

With the awesome support of our growing community of pet lovers, PetRescue has become Australia’s most visited charity website. Every day we bring pet seekers face-to-furry-face with thousands of adorable rescue pets from shelters and rescue groups nationwide, empowering Australians to save over 6,000 lives every month. Find out more about us here.