.carousel-inner{:role => "listbox"}
  .container
    .carousel-caption
      %p Animal Rescue is a not for profit, volunteer run, non government organization.
      %p
        %a.btn.btn-lg.btn-default{:href => "/animals", :role => "button"} All our animals
/ /.carousel
/ %section#services
.animation-target

  .infoboxes
    %article.span3
      %img{:alt => "", :src => "http://upload.wikimedia.org/wikipedia/commons/0/0a/Paw_(Animal_Rights_symbol).png"}
        %h3
          = link_to "Get Involved", pawswalk_path
        %p Some of the animals entering shelters need a little extra help before they are ready for adoption and their new forever homes. They may be too young, unwell, recovering from surgery, or may need training to improve their behaviour. Our foster care program helps these animals recover in a home environment until they’re ready to enter adoption.
    %article.span3
      %img{:alt => "", :src => "http://cdn.flaticon.com/png/256/33715.png"}
        %h3
          %a{:href => "http://upload.wikimedia.org/wikipedia/commons/0/0a/Paw_(Animal_Rights_symbol).png", :title => "Volunteer"} Volunteer
        %p Are you dedicated and willing to make a regular commitment to help animals – animals that have been displaced, abandoned and possibly neglected and abused? If so, you may be just the person we are looking for to become an Animal Rescue Volunteer.
    %article.span3
      %img.donate{:alt => "", :src => "http://dvsiteimages20948.s3.amazonaws.com/wp-content/uploads/2014/09/Giving-Icon.png"}
        %h3
          %a{:href => "http://upload.wikimedia.org/wikipedia/commons/0/0a/Paw_(Animal_Rights_symbol).png", :title => "Get Involved"} Donate
        %p Every day, thousands of pets are counting on us to find them a forever home. We know you can't take them all home, but you can help us keep saving lives and stop the killing of healthy and treatable companion animals in Australia’s pounds.
