%h2 Frequently Asked Questions

.faqdog
  %img{:src => "http://www.beenleighfarmsupplies.com.au/eshop/images/C/dog%202.jpg", :alt => ""}/

%h3 What is foster caring?

%p Foster caring is when you take a dog or cat into your home until a forever home can be found. Carers find their role to be very rewarding and love the fact they save the lives of many animals per year.

%h3 If I find a stray animal, will Animal Rescue take it?

%p No, Animal Rescue are not legally permitted to take any stray animals into care.
You need to call your local pound or council, or you can take the animal to a vet to be scanned for a microchip. The vet can contact the owner and advise them where their pet is. If the animal isn’t microchipped, the owners shoul start looking for their lost cat or dog at the pound. If anyone holds onto an animal without letting authorities know, there is no chance it can be reunited with its owner. Animal Rescue urges every animal owner to make sure their pets are wearing collar and identification 24/7

%h3 There is a public listing section on your website, what does that mean?

%p These cats and dogs belong to people who can no longer keep them but don’t want to surrender them to a pound. They are still living with their owners and are being advertised on our site to help promote them. We only allow desexed animals to be advertised. Animal Rescue is not linked to these animals at all and urge the public to ask many questions about behaviours, health, likes, dislikes etc. as we can’t guarantee that what has been written is true and correct. There is a big chance no trial period will be given

%h3 Can Animal Rescue take my pet?

%p Generally, we are not in a position to accept privately surrendered animals as all of our foster carers homes are normally full with priority pound animals. We do have a private surrender page on our website in which we explain the process. We will consider your animal if it has had full vet work and you are prepared to pay the surrender fee BUT this still depends on our foster carer availability.
%p Don’t forget everyone is welcome to list on our public listing page as long as the animal is desexed. This would mean that you would hold onto your pet at home and any enquiries would be directed to you. In return for the free advertisement it is greatly appreciated if a donation can be made to Animal Rescue to help us assist more animals in need.

%h3 Can I foster if I already own pets?

%p Definitely, as long as your pet is vaccinated and desexed.

%h3 Does the foster carer get to pick what animal they foster?

%p Foster carers will be sent a weekly email from our Pound Co-ordinators. It will have the basic details of all available animals plus a photo.
If you would like to foster a particular animal you just reply to the email stating your preference. You will have to be available to pick up the animal from the pound, unless a transport request can be fulfilled.
%p The final decision regarding who adopts your foster animal is always left with you. If you are not happy with, or if you feel uncomfortable with any potential adopting family, the animal will stay with you until the right family comes along.

%h3 Does the foster carer get to pick the new family?

%p Foster carers do decide who gets to meet their foster animals. To make the process easier we have an adoption application form that potential new owners must fill in. This helps you match a suitable new owner to a suitable animal.

%h3 Is it hard when your foster animal goes to its forever home?

%p Although we do miss our foster animals (at times), it’s very satisfying to know that you saved a dog or cat’s life and have now found it an amazing forever home. Don’t forget that there is always another animal at the pound waiting for your help.

%h3 If I have problems, or need help with any foster animals that I am caring for, what can I do?

%p We have a large support system within Animal Rescue. You will have a foster carer co-ordinator which is there to help you! In addition to this person we have an animal committee that are all foster carers themselves with years of experience. We have numerous vets that help Animal Rescue and we encourage our foster carers to work together and stay in touch at regular meetings and events. Also make sure you join our facebook page and chat with other Animal Rescue supporters.

%h3 Who pays for the food and medication?

%p Animal Rescue covers all medical procedures and medications and we regularly have donations for our foster carers which include bedding, food, toys, kennels etc. Carers only need to supply love, shelter and food when donations aren’t available. Contact our donation co-ordinator for list of available items

%h3 Who pays the vet bills for animals in foster care?

%p Animal Rescue pays for all approved vet work; you must have a vet voucher.

%h3 How old must I be if I want to become a foster carer?

%p If you are under 18 year old and are living at home please get your parents permission and ask them to apply.

%h3 How long does a foster carer have an animal for?

%p This depends on the animal. Some animals are receiving enquiries as soon as they go on the website, others are in care for months. It is very important that carers promote their fosters as well as they can. Update photos regularly, spend time getting a good photo and get to know the animal before writing their biography. Make sure you update the bio as you learn more about their behaviours, likes, dislikes. If you have rehoming problems speak to your carer co-ordinator. Feel free to promote your fosters on other websites, make signs, promote on facebook, create a video clip to add to their bio. This really adds personality, we also have pet adopt me shirts for public events.

%h3 Why don’t you give your animals away for free?

%p The adoption fee covers the animal’s full vet work. We also give them worm and flea treatment while in care and treat any medical problem arising while in care.
Animal Rescue also pays for dogs and adult cats lifetime registration with the NSW registry. Please read individual pages for full details.
Some animals require major operations and rehabilitation. These fees are not passed onto the new owners. Animal Rescue covers this by fundraising & donations.
Please note that the adoption fee merely covers the basic vet work done to an animal. Animal Rescue does not make much (if any) profits from the adoption fee.

%h3 If I already have another pet, is it possible to bring it along to meet  an animal that I would like to foster?

%p Yes, there is no problem with this. You will need to mention this to the pound co-ordinator or your foster carer co-ordinator. Keep in mind some animals can take a few days to warm up to each other

%h3 Does Animal Rescue accept animals back? (previous Animal Rescue animal)

%p Always call Animal Rescue first if you can’t keep the animal you adopted from us, no matter how long ago it was.
%p This animal will come back into care as a priority but this will depend on carer availability. Please keep in mind we are all volunteers and most of us work full time in our “real jobs”. Please give us as much notice as possible.
Please don’t contact us and say “We are moving away tomorrow, come pick up the dog or it is going to the pound”. We will unfortunately not be able to help.
Also every new owner has a 2 week trial. If it doesn’t work out they can arrange a time to drop the animal back to its carer and a refund cheque will be posted to them.

%h3 I don’t live in NSW, is it still possible to adopt one of your animals?

%p Animal Rescue doesn’t favor interstate adoption, it will need to have committee approval. We also prefer the owner to meet the animal before it is transported. Pet transport can be very expensive and will be the responsibility of the new owner to cover the costs and pay for the animal to be returned if the trial is unsuccessful. Please keep in mind most areas have an animal rescue or pound so try locally first.

%h3 Do you do yard inspections?

%p Yes. If you are out of our area we will try and find someone else to do the inspection for us (another rescue group). At a minimum we will request digital photos of your property.
We must ensure all our animals are safe and can’t get under or over fences and have basic shelter provided (shade etc).

%h3 Will the animal be healthy?

%p We make sure all possible vet work is completed before going to a new home. Any vet problems that occur during the trial period will be covered by Animal Rescue but must be approved and conducted at certain vet practices. If we are aware of any problems with an animal, there is always full disclosure on the website of the animal’s condition.

%h3 Do you have a shelter?

%p No, all our animals are cared for in our foster carer’s own homes. If you are interested in an animal, you will need to contact the foster carer directly (there will always be a phone number or an email on the biography) to organise a visit/play date and to get more information and ask any questions you may have.





