.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
      .inner.cover
        %h1.cover-heading Animal Rescue
        %p.lead
          Animal Rescue is a not for profit, volunteer run, non government organization.
        %p.lead
          %a.btn.btn-lg.btn-default{:href => "/animals", :role => "button"} All our animals
      .mastfoot
        .inner
          %p
            © 2014 Angela ~
