%h2 Million Paws Walk
.pawswalkbanner
  %img{:src => "http://www.millionpawswalk.com.au/Assets/RSPCA+Digital+Assets/NSW/2014/Slideshow/5.+Thank+You.png", :alt => ""}/

%p Million Paws Walk has come to an end for 2014 and we have yet again had a very successful event! Thank you to everyone who participated on the day and we appreciate all the amazing support.

%p Fundraising for Million Paws Walk is still open until June 29. To find all the information about the fundraising competitions, please click here.

%p The photos from Million Paws Walk 2014 have been uploaded! Click here to view the photo album. Please also see at the bottom of this page the video from the Sydney event.

%p Missed out on receiving a Participation Certificate on the day? No need to worry! You can download and print a Participation Certificate here. Write your name on it and show it off to your friends and family.

%p If you want to personally thank your friends and family for their kind donations on your fundraising page, you can download a Certificate of Appreciation. Print it out, write their name and surprise them with an official Million Paws Walk Certificate

%div{:style => "text-align: left; margin: auto"}
  %object{:data => "http://www.youtube.com/v/zeP182srBOY?color2=FBE9EC&hd=1&version=3", :style => "width:640px; height:363px;", :type => "application/x-shockwave-flash"}
    %param{:name => "movie", :value => "http://www.youtube.com/v/zeP182srBOY?color2=FBE9EC&hd=1&version=3"}/
    %param{:name => "allowFullScreen", :value => "true"}/
    %param{:name => "allowscriptaccess", :value => "always"}/
  %div{:style => "font-size: 0.8em"}
    