.animals-index-heading
  %h2
    Animals
.animals-index
  %ul.photo-grid
    %li
      - @animals.each do |animal|
        .animal_box
          .animal-image{:style => "background-image:url(#{ animal.image })"}
            /= image_tag animal.image
            %div.info
              %h4.animal-name
                = link_to animal.name, animal_path(animal)
              %p.animal-info
                #{animal.gender}