/ .grid
/   - @animals.each do |animal|
/     %figure#animals.effect-lily
/       %img{:style => "background-image:url(#{ animal.image }) background-repeat:none"}
/       = image_tag animal.image
/       / %figcaption
/         %h2.animal-name
/           = link_to animal.name, animal_path(animal)
/           %span.animal-name
/         %p 
/           = animal.gender

 



.animals-index-heading
  %h2
    Animals
.animals-index
  %ul.photo-grid
    - @animals.each do |animal|
      / = link_to animal_path(animal)
      %li
        .animal_box
          .animal-image{:style => "background-image:url(#{ animal.image })"}
            /= image_tag animal.image
            %div.info
              %h4.animal-name
                = link_to animal.name, animal_path(animal)
              %p.animal-info
                #{animal.gender}
    .clear