.show-animal
  %h2
    =@animal.name
  .animal-info
  %ul
  %li 
    =@animal.about_me
  %li
    =@animal.ideal_home
  %li
    =@animal.species
  %li
    =@animal.gender
  %li
    =@animal.child_friendly

    .animal-image
    %img{:src => @animal.image}

  - if @animal.adopted?
    %p This animal has been adopted :)
  - else
    = form_for @animal, url: adopt_animal_path(@animal), method: 'patch' do
      = submit_tag 'Adopt me' 

= link_to "Go Back", animals_path


