body {
  font-family: helvetica;
  margin: 0px;
  font-size: 12px;
}

h1 {
  margin: auto;
}

#services {
  margin-right: auto;
  margin-left: auto;
}

.row ul li {
  list-style: none;
  display: inline;
}


li {
  list-style: none;
}

#collapse-menu.collapse {
  display: block;
}

a {
  background: transparent;
  letter-spacing: 1px;
  margin: 12px;
}

ul {
  list-style: none;
}

.carousel-inner {
  height: 550px;
  background-image: url(https://newevolutiondesigns.com/images/freebies/dog-wallpaper-12.jpg);
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
} 

div.container {
  /*width: 100%*/;
  padding:0;
  margin-bottom: 10px;
}

.navbar-default {
  background-color: rgba(248, 248, 248, 0.7);
  border-color: #e7e7e7;
  margin: 0px;
}

.navbar.navbar-default.navbar-static-top {
  background-color: rgba(248, 248, 248, 0.7);
} 

.span1, .span2, .span3 {
  position: relative;
  display: inline;
  float: left;
}

.span3 {
  width: 252px;
  padding: 20px;
  border: 1px solid #dee0e0;
  box-sizing: border-box;
  margin: 20px;
  height: 378px;
  text-align: center;
}

.span3 img {
  height: 70px;
  width: 70px;
}

.span3 img.donate {
  width: 125px;
  height: 75px;
}

section {
  text-align: center;
}

table tr td {
  border: 1px black solid;
}

.btn-default {
  color: #333333;
  border-color: #cccccc;
  border: white 2px solid;
}

a:visited {
  color: #11b1ad;
}

div.animal-image {
  height: 330px;
  width: 330px;
  display: inline-block;
  background-size: cover;
}

.animal-image img {
  width: 330px;
  height: auto;
  padding-left: 10px; 
  padding-right: 10px;
  padding-bottom: 24px;
}

.animal-image .info {
  background-color: rgba(255,255,255,0.5);
  padding: 1px 0;
}

h4.animal-name {
  padding-top: 7px;
}

.animal-image .info h4 {
  margin-top: 0;
}

.animal_box {
  display: inline-table;
}

.animal-image {
  width: 400px;
  height: auto;
}

.animal-image img {
  width: 330px;
  height: auto;
  padding-left: 10px; 
  padding-right: 10px;
  padding-bottom: 24px;
  padding-top: 20px;
}

ul.dropdown-menu {
  padding: 4px 0;
  margin: 4px 0 0;
  list-style: none;
}

.navbar-nav > li > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding-right: 82px;
  margin-left: 10px;
  margin-top: -12px;
}

.carousel-caption {
  font-size: 30px;
}

object {
  padding-bottom: 20px;
}

div.info {
  text-align:center;
}

div.animal-image {
  margin: 10px;
}

.animal-adopt {
  padding-top: 20px;
}

section#services {
  margin-right: auto;
  margin-left: auto;

}

.pawswalkbanner img {
  height: 550px;
  background-image: url(https://newevolutiondesigns.com/images/freebies/dog-wallpaper-12.jpg);
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-bottom: 20px;
}



.login_form {
  border: rgb(203, 200, 200) 1px solid;
  text-align: center;
  padding: 10px 50px 70px;
  border-radius: 10px;
  /* position: static; */
  margin-left: auto;
  margin-right: auto; 
  width: 40%;
}

.signupform {
  border: rgb(203, 200, 200) 1px solid;
  text-align: center;
  padding: 32px 50px 39px;
  margin-bottom: 40px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.surrender-animal {
  border: rgb(203, 200, 200) 1px solid;
  padding: 32px 50px 39px;
  margin-bottom: 40px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.donate-page {
  border: rgb(203, 200, 200) 1px solid;
  padding: 32px 50px 39px;
  margin-bottom: 40px;
  border-radius: 10px;
  width: 38%;
}

h3.newuser {
  text-align: center;
}

.animals-index-heading {
  text-align: center;
}

input {
  margin: 10px;
  /* display: block; */
  /* width: 100%; */
  /* height: 34px; */
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

div.login_form form input {
  margin: 10px 10px 10px 0;
  text-align: center;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: none; 
  /*-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;*/
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.show-animal-profile {
  width: 50%;
}

.show-animal-profile a {
  margin: 0;
}

.signuplink {
  padding-top: 20px;
}

.col-md-7 {
  width: 58.3333333333%;
  text-align: left;
}

.form-group input#animal_image {
  display: inline;
}

a.navbar-brand {
  font-size: 20px;
}

.faqdog img {
  width: 50%;
  float:right;
}

.inner.cover {
  padding-top: 57px;
}

.navbar.navbar-default.navbar-static-top {
  background-color: rgba(205, 255, 198, 0.6);
  border-bottom: none;
  color: black;
}

.navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-brand {
  color: #010101;
}

p.about {
  padding-top: 20px;
  font-size: 16px;
}


.animation-target {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/TF22vV */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(0.22804, 0, 0, 0, 0, 0.15644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.22804, 0, 0, 0, 0, 0.15644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(0.41067, 0, 0, 0, 0, 0.37244, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.41067, 0, 0, 0, 0, 0.37244, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(0.55522, 0, 0, 0, 0, 0.59534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.55522, 0, 0, 0, 0, 0.59534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(0.66838, 0, 0, 0, 0, 0.76652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.66838, 0, 0, 0, 0, 0.76652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(0.75598, 0, 0, 0, 0, 0.86249, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.75598, 0, 0, 0, 0, 0.86249, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(0.82306, 0, 0, 0, 0, 0.89588, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.82306, 0, 0, 0, 0, 0.89588, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(0.87384, 0, 0, 0, 0, 0.89676, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.87384, 0, 0, 0, 0, 0.89676, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.91183, 0, 0, 0, 0, 0.89326, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.91183, 0, 0, 0, 0, 0.89326, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(0.93988, 0, 0, 0, 0, 0.90099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93988, 0, 0, 0, 0, 0.90099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(0.9603, 0, 0, 0, 0, 0.92218, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9603, 0, 0, 0, 0, 0.92218, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(0.97493, 0, 0, 0, 0, 0.95063, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97493, 0, 0, 0, 0, 0.95063, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.98522, 0, 0, 0, 0, 0.97794, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98522, 0, 0, 0, 0, 0.97794, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.99228, 0, 0, 0, 0, 0.99797, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99228, 0, 0, 0, 0, 0.99797, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.99699, 0, 0, 0, 0, 1.00861, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99699, 0, 0, 0, 0, 1.00861, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.01119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.01119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.00182, 0, 0, 0, 0, 1.00885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00182, 0, 0, 0, 0, 1.00885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(1.0028, 0, 0, 0, 0, 1.00489, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0028, 0, 0, 0, 0, 1.00489, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.00323, 0, 0, 0, 0, 1.00161, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00323, 0, 0, 0, 0, 1.00161, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1.0033, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0033, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1.00315, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00315, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(1.00254, 0, 0, 0, 0, 1.00195, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00254, 0, 0, 0, 0, 1.00195, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(1.00219, 0, 0, 0, 0, 1.00265, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00219, 0, 0, 0, 0, 1.00265, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(1.00185, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00185, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1.00154, 0, 0, 0, 0, 1.00243, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00154, 0, 0, 0, 0, 1.00243, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1.00126, 0, 0, 0, 0, 1.00182, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00126, 0, 0, 0, 0, 1.00182, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(1.00102, 0, 0, 0, 0, 1.00118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00102, 0, 0, 0, 0, 1.00118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1.00081, 0, 0, 0, 0, 1.00068, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00081, 0, 0, 0, 0, 1.00068, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(1.00064, 0, 0, 0, 0, 1.00038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00064, 0, 0, 0, 0, 1.00038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(0.22804, 0, 0, 0, 0, 0.15644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.22804, 0, 0, 0, 0, 0.15644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(0.41067, 0, 0, 0, 0, 0.37244, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.41067, 0, 0, 0, 0, 0.37244, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(0.55522, 0, 0, 0, 0, 0.59534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.55522, 0, 0, 0, 0, 0.59534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(0.66838, 0, 0, 0, 0, 0.76652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.66838, 0, 0, 0, 0, 0.76652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(0.75598, 0, 0, 0, 0, 0.86249, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.75598, 0, 0, 0, 0, 0.86249, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(0.82306, 0, 0, 0, 0, 0.89588, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.82306, 0, 0, 0, 0, 0.89588, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(0.87384, 0, 0, 0, 0, 0.89676, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.87384, 0, 0, 0, 0, 0.89676, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.91183, 0, 0, 0, 0, 0.89326, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.91183, 0, 0, 0, 0, 0.89326, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(0.93988, 0, 0, 0, 0, 0.90099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93988, 0, 0, 0, 0, 0.90099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(0.9603, 0, 0, 0, 0, 0.92218, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9603, 0, 0, 0, 0, 0.92218, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(0.97493, 0, 0, 0, 0, 0.95063, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97493, 0, 0, 0, 0, 0.95063, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.98522, 0, 0, 0, 0, 0.97794, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98522, 0, 0, 0, 0, 0.97794, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.99228, 0, 0, 0, 0, 0.99797, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99228, 0, 0, 0, 0, 0.99797, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.99699, 0, 0, 0, 0, 1.00861, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99699, 0, 0, 0, 0, 1.00861, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.01119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.01119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.00182, 0, 0, 0, 0, 1.00885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00182, 0, 0, 0, 0, 1.00885, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(1.0028, 0, 0, 0, 0, 1.00489, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0028, 0, 0, 0, 0, 1.00489, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.00323, 0, 0, 0, 0, 1.00161, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00323, 0, 0, 0, 0, 1.00161, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1.0033, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0033, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1.00315, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00315, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(1.00254, 0, 0, 0, 0, 1.00195, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00254, 0, 0, 0, 0, 1.00195, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(1.00219, 0, 0, 0, 0, 1.00265, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00219, 0, 0, 0, 0, 1.00265, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(1.00185, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00185, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1.00154, 0, 0, 0, 0, 1.00243, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00154, 0, 0, 0, 0, 1.00243, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1.00126, 0, 0, 0, 0, 1.00182, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00126, 0, 0, 0, 0, 1.00182, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(1.00102, 0, 0, 0, 0, 1.00118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00102, 0, 0, 0, 0, 1.00118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1.00081, 0, 0, 0, 0, 1.00068, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00081, 0, 0, 0, 0, 1.00068, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(1.00064, 0, 0, 0, 0, 1.00038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00064, 0, 0, 0, 0, 1.00038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

.clear {
  clear: both;
}

.animals-index ul {
  margin-left: 0;
  padding: 0;
}

.animals-index li {
  display: inline-block;
  float: left;
  padding: 5px;
  width: 33.3333333333333%;
}

@media (max-width: 900px) {

  .animals-index li {
    width: 50%;
  }

}

@media (max-width: 500px) {

  .animals-index li {
    width: 100%;
  }

}

div.animal-image {
  /*width: 100%;*/
  cursor: pointer;
  margin: 0;
}

div.animal_box {
  width: 100%;
}

.animal-image .info {
  height: 100%;
  opacity: 0;
  position: relative;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.animal-image:hover .info {
  opacity: 1;
}

.animal-image:hover .info p {
  top: 50%;
}

.animal-image .info h4 a {
  color: black;
}

.animal-image .info p {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 80%;
  left: 10%;
  font-size: 24px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 767px) {
  ul.nav.navbar-nav {
    margin: 0;
  }
}