body {
  font-family: helvetica;
}

h1 {
  margin: auto;
}

div.container {
  margin: 0px;
  /*max-width: 960px;*/
}

.row ul li {
  list-style: none;
  display: inline;
}

#collapse-menu.collapse {
  display: block;
}

a {
  background: transparent;
  letter-spacing: 1px;
  margin: 12px;
}



